
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header */

header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
    background-color: #FFF8F3;
    
} 

.secondary-background{
    background-color:#FFF8F3 ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
nav  a{
    font-size: 20px;
    text-decoration: none;

}
nav li {
    list-style: none;
    margin-right: 51px;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
/* banner styles */

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.banner-para{
    font-size: 18px;
    color: #757575;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-picture{
    width: 580px;
    height: 620px;
}
.banner-content{
    max-width: 585px;
   
}
/* section style */
.about-me{
    border: 2px solid black;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-para{
    font-size: 18px;
    color: #757575;
    padding: 10px;
}
.about-me{
    text-align: center;
}
.bold{
    font-size: 20;
    font-weight: bold;
    color: #474747;
}
.info{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

/* about styles */

.about-me{
    border-radius: 10px;
    border: none;
    padding: 130px 150px;
}
/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 130px;
    
}
#border{ 
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}

  /* what i do */

  .what-i-do{
    max-width:fit-content;
    margin-top: 130px;
  }

.main-tytle{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.main-description{
    font-size: 18px;
    color:#757575;
    text-align: center;
}

/* actual skill */

.skill-container{
    display: flex;
    margin-top: 130px;
    gap: 24px;
}
.skill-tytle{
    font-size: 20px;
    font-weight: bold;
}
.skill-para{
    font-size: 16px;
    color: #757575;
    text-align: start;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

/* My resume */
.resume{
    margin-top: 130px;
}
.section-tytle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-tytle{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience-tytle{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
.experience-sub-tytle{
    font-size: 20px;
    color: #757575;
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.experience-description{
    font-size: 16px;
    color: #757575;
}
hr{
    margin: 30px 5px;
}
.dwn-btn{
margin-top: 40px;
}
.btn-center{
    text-align: center;
}